.pixel-corners {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.1));
  display: inline-flex;
  width: fit-content;
  height: fit-content;
  position: relative;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 8px;
  cursor: pointer;
  padding: 6px 12px;
  line-height: 1.2;
  user-select: none;
}

.pixel-corners:active {
  filter: none;
}

.pixel-corners::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  display: block;
  pointer-events: none;
  clip-path: polygon(
    0px calc(100% - 8px),
    2px calc(100% - 8px),
    2px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 2px),
    8px calc(100% - 2px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 2px) 8px,
    calc(100% - 2px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 2px,
    calc(100% - 8px) 2px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 2px,
    4px 2px,
    4px 4px,
    2px 4px,
    2px 8px,
    0px 8px,
    0px 50%,
    2px 50%,
    2px 8px,
    4px 8px,
    4px 4px,
    8px 4px,
    8px 2px,
    calc(100% - 8px) 2px,
    calc(100% - 8px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 8px,
    calc(100% - 2px) 8px,
    calc(100% - 2px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 2px),
    8px calc(100% - 2px),
    8px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 8px),
    2px calc(100% - 8px),
    2px 50%,
    0px 50%
  );
}
